body{
    background: #373435;
    margin: 0;
    padding: 0; 
}

.barriodo_etiquietas{
    width: 100%;
    height: auto;
    object-fit: contain;
    opacity: 30%;
}

.empresa{
    font-family: 'Alumni Sans SC', sans-serif;
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1.2);
    color: #F58634;
}

.text_presentacion{
    font-family: 'Arvo', sans-serif;
    font-size: 25px;
    position: absolute;
    width: 60%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.btn_info{
    font-family: 'Alumni Sans SC', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 53%;
    left: 37%;
    width: 25%;
    height: 9%;
    border: none;
    border-radius: 10px;
    background-color: #F58634;
    color: white;
}

.btn_info:hover{
    background-color: rgba(250, 250, 250, 0);
    border-radius: 8px;
    border: solid, 2px, #F58634;
}

.produccion{
    display: flex;
    align-items: center;
}

.img_trabajador {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.img_trabajador img{
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.img_trabajador img:hover{
    transform: scale(1.3);
}

.text_produccion{
    width: 55%;
    padding: 60px;
    text-align: center;
}

.text_produccion h1{
    font-family: 'Alumni Sans SC', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #F58634;
    margin-bottom: 20px;
}

.text_produccion p{
    display: flex;
    font-family: 'Arvo', sans-serif;
    text-align: justify;
    color: white;
}

.tipo_etiquetas h1{
    font-family: 'Alumni Sans SC', sans-serif;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: #F58634;
}

.tipos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 500px;
    background-color: lightblue;
}

.tipo_tafeta img{
    width: 200px;
    height: 200px;
    display: block;
    object-fit: cover;
}




