body{
    background: #373435;
    margin: 0;
    padding: 0; 
}

.presentacion{
    background: linear-gradient(to right, rgb(0 0 0 / .5),rgb(0 0 0 / .5)), url('/imagenes/seccion_1.jpeg');
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    justify-content: center;
    
}
.empresa{
    font-family: 'Alumni Sans SC', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #F58634;
    margin: 10px;
}

.text_presentacion{
    font-family: 'Arvo', sans-serif;
    font-size: 20px;
    color: white;
    width: 30%;
    text-align: center;
    margin: 10px;
}

.btn_info{
    font-family: 'Alumni Sans SC', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #F58634;
    color: white;
    padding: 15px;
    margin: 10px;
}

.btn_info:hover{
    background-color: rgba(250, 250, 250, 0);
    border-radius: 8px;
    border: solid, 2px, #F58634;
}

.produccion{
    display: flex;
    align-items: center;
}

.img_trabajador {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.img_trabajador img{
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.img_trabajador img:hover{
    transform: scale(1.3);
}

.text_produccion{
    width: 55%;
    padding: 60px;
    text-align: center;
}

.text_produccion h1{
    font-family: 'Alumni Sans SC', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #F58634;
    margin-bottom: 20px;
}

.text_produccion p{
    display: flex;
    font-family: 'Arvo', sans-serif;
    text-align: justify;
    color: white;
}

.titulo {
    font-family: 'Alumni Sans SC', sans-serif;
    font-size: 15px;
    color: #F58634;
    position: relative;
    text-align: center;
    padding: 20px;
}

.cards {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 3%;
    margin: 50px;
}

.card_1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 30%;
    color: #fff;
}

.card_1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Alumni Sans SC', sans-serif;
    color: white;
    overflow: hidden;
}

.card_1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    z-index: -1; /* Coloca la imagen detrás del contenido */
    border-radius: 10px;
}

.card_1a::before {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/imagenes/tipo_tafeta.png');
    padding: 10px;
    display: flex;
    width: 80%;
    height: 300px;
    background-size: cover;
    margin: 20px;
    border-radius: 10px;
}

.card_1b::before {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/imagenes/tipo_damasco.png');
    padding: 10px;
    display: flex;
    width: 80%;
    height: 300px;
    background-size: cover;
    margin: 20px;
    border-radius: 10px;
}

.card_1c::before {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/imagenes/tipo_satin.png');
    padding: 10px;
    display: flex;
    width: 80%;
    height: 300px;
    background-size: cover;
    margin: 20px;
    border-radius: 10px;
}

.card_1:hover::before {
    transform: scale(1.1); /* Expande la imagen */
}

.txt_1 {
    padding: 10px;
    display: flex;
    width: 80%;
    height: 300px;
    background-size: cover;
    margin: 10px;
    border-radius: 10px;
    font-family: 'Alumni Sans SC',sans-serif;
}

.txt_2 {
    padding: 10px;
    display: flex;
    width: 80%;
    height: 300px;
    background-size: cover;
    margin: 10px;
    border-radius: 10px;
    font-family: 'Alumni Sans SC',sans-serif;
} 

.txt_3 {
    padding: 10px;
    display: flex;
    width: 80%;
    height: 300px;
    background-size: cover;
    margin: 10px;
    border-radius: 10px;
    font-family: 'Alumni Sans SC',sans-serif;
} 

.card_1 p {
    font-family: 'Arvo', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 20px;
}


@media (max-width:1025px) {
    .produccion{
        display: flex;
        flex-direction: column;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .card_1{
        width: 80%;
    }
}

