header{
    background:#414345; 
    padding: 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    margin: 0;
    z-index: 1000;
    height: 60px;
}
.herder_pincipal{
    justify-content: center;
    display: flex;
    align-items: center;
}

.herder_pincipal nav{
    display: flex;
    align-items: center;
}

.img-logo{
    width: 150px;
    padding: 0%;
    margin: 0%;
}
.menu-toggle{
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}


/* MENU DROP */
#dropMenu{
    display: none;
    position:absolute;
    right: 2rem;
    top: 80px;
    height: 0;
    background-color: #414345;
    border-radius: 20px;
    overflow: hidden;
}
#dropMenu.open{
    height: auto;
}

#dropMenu li{
    padding: 0.8rem;
    list-style: none;
    color: white;
    font-family: Alumni Sans SC, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dropMenu a{
    color: white;
    text-decoration: none;
}

#dropMenu a:hover{
    color: #F58634;
}

.menu{
    list-style: none;
}
.menu li{
    display: inline;
    margin-left: 50px;
}
.menu a{
    color: #F58634;
    text-decoration: none;
    font-family: Alumni Sans SC, sans-serif;
    font-weight: bold;
}
footer{
    background-color: #181717;
    padding: 5px;
}
.footer-principal{
    justify-content: center;
    display: flex;
    align-items: center;
}
.pie{
    list-style: none;
}
.pie li{
    display: inline;
    margin-left: 50px;
}
.pie a{
    color: white;
    text-decoration: none;
    font-family: Alumni Sans SC, sans-serif;
}
.menu a:hover{
    color: #ffffff; /* Cambia el color del texto al pasar el cursor sobre las opciones. */
}
.pie a:hover{
    color: #F58634;
}

/* NAVEGACIÓN RESPONSIVE */
@media (max-width:1025px) {
    /* NAVEGACIÓN */
    .menu li a {
        display: none;
    }
    .menu-toggle{
        display: block;
    }
    #dropMenu{
        display: block;
    }

    /* SECCIÓN PRODUCCIÓN */
    
}