body{
    background: #373435;
    margin: 0;
    padding: 0; 
}

.barriodo_etiquietas{
    width: 100%;
    height: auto;
    object-fit: contain;
    opacity: 30%;
}

.empresa{
    font-family: Alumni Sans SC, sans-serif;
    font-size: 45px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1.2);
    color: #F58634;
}

.text_presentacion{
    font-family: Arvo, sans-serif;
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}