header{
    background:#414345; 
    padding: 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    margin: 0;
    z-index: 1000;
    height: 60px;
}
.herder_pincipal{
    justify-content: center;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.herder_pincipal nav{
    display: flex;
    align-items: center;
}

.img-logo{
    width: 150px;
    padding: 0%;
    margin: 0%;
}
.menu-toggle{
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}


/* MENU DROP */
#dropMenu{
    display: none;
    position:absolute;
    right: 2rem;
    top: 80px;
    height: 0;
    background-color: #414345;
    border-radius: 20px;
    overflow: hidden;
}
#dropMenu.open{
    height: auto;
}

#dropMenu li{
    padding: 0.8rem;
    list-style: none;
    color: white;
    font-family: Alumni Sans SC, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dropMenu a{
    color: white;
    text-decoration: none;
}

#dropMenu a:hover{
    color: #F58634;
}

.menu{
    list-style: none;
}
.menu li{
    display: inline;
    margin-left: 50px;
}
.menu a{
    color: #F58634;
    text-decoration: none;
    font-family: Alumni Sans SC, sans-serif;
    font-weight: bold;
}
/* FOOTER */
footer{
    background-color: #181717;
    padding: 20px;
}

.footer-principal{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.pie{
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

.pie li{
    display: inline;
    margin-left: 20px;
}

.pie a{
    color: white;
    text-decoration: none;
    font-family: 'Alumni Sans SC', sans-serif;
}

.pie li{
    color: #F58634;
}

/* Estilo del mensaje de "Contactanos" */
.contactanos-footer{
    font-family: 'Alumni Sans SC', sans-serif;
    font-size: 20px;
    color: #F58634;
    margin-bottom: 10px;
     ;
}

/* Estilos de redes sociales */
.social-links{
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
}

.social-links a{
    margin: 0 15px;
    font-size: 30px;
    color: white;
    
}
.social-links img{
    width: 25px;

}

.social-links a:hover{
    color: #F58634;
}

/* Copyright */
.copyright{
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: 'Arvo', serif;
}
/* NAVEGACIÓN RESPONSIVE */
@media (max-width:1025px) {
    /* NAVEGACIÓN */
    .menu li a {
        display: none;
    }
    .menu-toggle{
        display: block;
    }
    #dropMenu{
        display: block;
    }

    .footer-principal{
        display: flex;
        flex-direction: column;
    }
    .pie{
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

    .pie li{
        text-align: center;
        margin: 5px;
    }
    /* SECCIÓN PRODUCCIÓN */
    
}